.timer {
  border-radius: 8px;
  padding: 15px;
  background: #ffffff;
}

.timer__panel {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 30px;
  background: #0d276e;
}

.time {
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
}

.timer__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

button:not(:last-child) {
  margin-right: 10px;
}

button:disabled {
  opacity: 0.5;
}

.startBtn {
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  color: #0d276e;
  font-weight: bold;
  font-size: 30px;
  background: orange;
  outline: none;
  cursor: pointer;
}

.stopBtn {
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  color: orange;
  font-weight: bold;
  font-size: 30px;
  background: #0d276e;
  outline: none;
  cursor: pointer;
}

.clearBtn {
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  color: orange;
  font-weight: bold;
  font-size: 30px;
  background: #00868a;
  outline: none;
  cursor: pointer;
}
